<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title><?php echo $this->aVars['sControllerTitle']; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link href="<?php echo HTML_ROOT_PATH;?>web/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="<?php echo HTML_ROOT_PATH;?>web/css/darty.css" rel="stylesheet"/>
    <?php if($this->sRequestController == 'condition' && (isset($this->aVars['sAction']) && $this->aVars['sAction'] == 'upload_pj' )): ?> 
    <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH;?>web/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH;?>web/css/jquery.fileupload.css">
    <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH;?>web/css/jquery.fileupload-ui.css">
    <?php endif;?>
    <?php if($this->sRequestController == 'admin' && (isset($this->aVars['sAction']) && $this->aVars['sAction'] == 'entity' )): ?>
    <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH;?>web/css/bootstrap-editable.css">
    <?php endif; ?>
    <script type="text/javascript">
      var APPL_BASE = "<?php echo HTML_ROOT_PATH;?>";

    </script>
  </head>
  <body>
    <div class="<?php echo $this->sClassPage; ?>">	
      <div class="page-header">
        <h2 class="text-center">Apollo</h2>
        <h4 class="text-center">Application de suivi des coopérations commerciales et trade marketing</h4>
      </div>


      <?php echo $this->aVars['MENU']; ?>

      <?php if(false === empty($this->aBreadcrumb)) : ?>
      <ol class="breadcrumb">		
        <?php if($this->sRequestController!='home') : ?>
        <li><a href="<?php echo HTML_ROOT_PATH;?>home/">Accueil</a></li>
        <?php foreach($this->aBreadcrumb as $kBread => $vBread): ?>
        <?php if($this->sRequestController == $vBread['controller'] && $this->aVars['sAction'] == $vBread['action']): ?>
        <li class="active"><?php echo ucfirst($vBread['name']); ?></li>
        <?php else: ?>
        <li><a href="<?php echo HTML_ROOT_PATH;?><?php echo $vBread['controller'];?>/<?php echo $vBread['action'];?>"><?php echo ucfirst($vBread['name']); ?></a></li>
        <?php endif; ?>

        <?php endforeach;?>
        <?php else : ?>
        <li class="active">Accueil</li>
        <?php endif; ?>
      </ol>
      <?php endif; ?>
      <!-- Error Alert -->
      <?php if(isset($this->aVars['aGets']['error_msg'])) : ?>
      <?php if ($this->aVars['aGets']['error_msg'] != 1) : ?>
      <div class="alert alert-error alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> <?php echo $this->aVars['aGets']['error_msg']; ?>
      </div>
      <?php endif; ?>
      <?php endif;?>

      <!-- Succes Alert -->
      <?php if(isset($this->aVars['aGets']['success_msg'])) : ?>
      <?php if ($this->aVars['aGets']['success_msg'] != 1) : ?>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> <?php echo $this->aVars['aGets']['success_msg']; ?>
      </div>
      <?php endif; ?>
      <?php endif;?>

      <?php echo $this->aVars['CONTENT']; ?>

      <!-- script references -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery-1.12.0.min.js"></script>
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/bootstrap.min.js"></script>
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/apollo-menu.js"></script>
      <!-- <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.validate.js"></script>-->
      <?php if($this->sRequestController == 'condition' && (isset($this->aVars['sAction']) && $this->aVars['sAction'] == 'upload_pj' )): ?> 
      <!-- The template to display files available for upload -->
      <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
        <td>
        <span class="preview"></span>
        </td>
        <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
        </td>
        <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
        {% if (!i && !o.options.autoUpload) { %}
        <button class="btn btn-primary start" disabled>
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start</span>
        </button>
        {% } %}
        {% if (!i) { %}
        <button class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel</span>
        </button>
        {% } %}
        </td>
        </tr>
        {% } %}
      </script>
      <!-- The template to display files available for download -->
      <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
        <td>
        <span class="preview">
        {% if (file.thumbnailUrl) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
        {% } %}
        </span>
        </td>
        <td>
        <p class="name">
        {% if (file.url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
        {% } else { %}
        <span>{%=file.name%}</span>
        {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
        {% } %}
        </td>
        <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
        {% if (file.deleteUrl) { %}
        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
        </button>
        <input type="checkbox" name="delete" value="1" class="toggle">
        {% } else { %}
        <button class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel</span>
        </button>
        {% } %}
        </td>
        </tr>
        {% } %}
      </script>
      <!-- ajout pour le wizard d'edition des conditions -->
      <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/vendor/jquery.ui.widget.js"></script>
      <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.iframe-transport.js"></script>
      <!-- The basic File Upload plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload.js"></script>
      <!-- The Templates plugin is included to render the upload/download listings -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/tmpl.min.js"></script>
      <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/load-image.all.min.js"></script>
      <!-- The Canvas to Blob plugin is included for image resizing functionality -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/canvas-to-blob.min.js"></script>
      <!-- blueimp Gallery script -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.blueimp-gallery.min.js"></script>
      <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.iframe-transport.js"></script>
      <!-- The basic File Upload plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload.js"></script>
      <!-- The File Upload processing plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-process.js"></script>
      <!-- The File Upload image preview & resize plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-image.js"></script>
      <!-- The File Upload audio preview plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-audio.js"></script>
      <!-- The File Upload video preview plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-video.js"></script>
      <!-- The File Upload validation plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-validate.js"></script>
      <!-- The File Upload user interface plugin -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/jquery.fileupload-ui.js"></script>
      <!-- The main application script -->
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/main.js"></script>

      <?php endif;?>

      <?php if($this->sRequestController == 'admin' && (isset($this->aVars['sAction']) && $this->aVars['sAction'] == 'entity' )): ?>
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/bootstrap-editable.js"></script>
      <?php endif; ?>
      <!-- Insertion automatique du javascript de la page si il existe-->
      <?php if(true === file_exists(BASE_PATH."web/js/".$this->sRequestController.".js")) : ?>
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/<?php echo $this->sRequestController;?>.js"></script>
      <?php endif;?>
      <?php if(true === file_exists(BASE_PATH."web/js/".$this->aVars['sAction'].".js")) : ?>
      <script src="<?php echo HTML_ROOT_PATH;?>web/js/<?php echo $this->aVars['sAction'];?>.js"></script>
      <?php endif;?>

  </body>
</html>