<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Apollo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="<?php echo HTML_ROOT_PATH;?>web/css/bootstrap.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="<?php echo HTML_ROOT_PATH;?>web/css/darty.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="page-header">
      <h2 class="text-center">Apollo</h2>
      <h4 class="text-center">Application de suivi des coopérations commerciales et trade marketing</h4>
    </div>

    <?php echo $this->aVars['CONTENT']; ?>

  </body>
</html>