.page-header {
  background-image:-moz-linear-gradient(to left, #E3322D, #AE1916); 
  background-image:-webkit-linear-gradient(to left, #E3322D, #AE1916); 
  background-image:linear-gradient(to left, #E3322D, #AE1916); 
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}
